

.filter {
    max-width: 400px;
    position: absolute;
    bottom: 450px;
    left: 20px;
    display: flex;
    justify-content: start;



   }

      .filter_choose {
     position: absolute;
     bottom: 25px;
     left: 100px;
  
    }