.sort {
    max-width: 400px;
    position: absolute;
    bottom: 450px;
    left: 200px;
    display: flex;
    justify-content: start;
   
    .sort_choose {
     position: absolute;
     bottom: 25px;
     left: 80px;
    }
   
   
   
   }